extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Locator Locator fue creado para ayudar a las personas a encontrar un lugar en el cual sentarse a trabajar y tomar una taza de cafe en sitios con internet.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem acnisi dignissim accumsan.