extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Locator
          small &nbsp; Buscar logares con wifi cercanos a ti?
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Juan Valdes
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address Calle 124, av poblado
          p
            span.label.label-warning Licoreria
            &nbsp;
            span.label.label-warning Comida
            &nbsp;
            span.label.label-warning Puntos Wifi
            &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Comidas Mariana
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address Calle 124, av poblado
          p
            span.label.label-warning Licoreria
            &nbsp;
            span.label.label-warning Comida
            &nbsp;
            span.label.label-warning Puntos Wifi
            &nbsp;
    .col-xs-12.col-sm-4
      p.lead Buscar lugares con wifi? locator te ayuda a encontrar estos lugares, ademas de cafeterias, galleterias, heladerias, dejanos ayudarte y escribe lo que estas buscando