extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Juan Valdez
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-md-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Calle 125, Medellin
          .panel.panel-primary
            .panel-heading
              h2.panle-title Hora de apertura
            .panel-body
              p Lunes - Viernes: 7:00am - 7:00pm
              p Sabados: 8:00am - 5:00pm
              p Domingos: Cerrado
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilidades
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Licorera
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Comidas
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Lugares con Wifi
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Mapa de Ubicacion
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/location/review/new") Agregar analisis

              h2.panel-title Analisis de Clientes
            .panel-body.review-container
              .row
                .review
                  .well.well-ms.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                    span.reviewAuthor Fredy Andrade
                    small.reviewTimestamp 18 de Agosto 2013
                  .col-xs-12
                    p Maunifica animas meas! Que gran lugar
                .review
                  .well.well-ms.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Raizza Cujar
                    small.reviewTimestamp 11 de Noviembre 2014
                  .col-xs-12
                    p Disfrute de un muy buen  cafe con mi novio :D
    .col-xs-12.col-md-3
      p.lead El cafe de Juan valdes esta en Locator porque es un lugar con acceso a wifi y espacio comodo para los visitantes setarse y disfrutar